{% extends 'base.html'%}
{% block content %}
    <div class="container">
    <h2 class="text-center">Login</h2>
    <form method="post" action="{{ url_for('views.login') }}">
        <div class="mb-5">
        <input type="text" name="username" class="form-control" placeholder="Username" required autocomplete="off" autofocus>
        </div>

        <div class="mb-5">
        <input type="password" name="password1" class="form-control" placeholder="Password" required autocomplete="off" autofocus>
        </div>

        <div class="mb-5">
        <input type="submit" value="Login" class="btn btn-primary w-100">
        </div>
    </form>
    </div>
{% endblock %}